<div class="header-objects" *ngFor="let obj of pekObjects">
  <div class="">{{ obj?.nameObject }}</div>
  <div class="">{{ obj?.oblastName }}</div>
  <div class="">{{ obj?.regionName }}</div>
</div>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    (mouseenter)="increase()"
    (mouseleave)="decrease()"
    class="object-menu"
  >
    <mat-nav-list>
      <mat-list-item
        *ngFor="let obj of objectsRoute"
        [routerLink]="obj.src"
        [routerLinkActive]="['is-active']"
      >
        <mat-icon mat-list-icon>{{ obj.icon }}</mat-icon>
        <div fxFlex="5"></div>
        <div *ngIf="isExpanded">
          {{ obj.name }}
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="object-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
