<div
  class="row d-flex justify-content-between mb-3"
  *ngFor="let obj of pekObjects"
>
  <div class="col">
    <div class="alert alert-success">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">{{ obj?.nameObject }}</li>
          <li class="breadcrumb-item">{{ obj?.oblastName }}</li>
          <li class="breadcrumb-item">{{ obj?.regionName }}</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!-- <nav mat-tab-nav-bar backgroundColor="primary">
  <a
    mat-tab-link
    *ngFor="let objRoute of objectsRoute"
    [routerLink]="objRoute.src"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ objRoute.name }}
  </a>
</nav>
<router-outlet></router-outlet> -->
<hr />
<mat-sidenav-container>
  <mat-sidenav
    opened
    mode="side"
    [fixedInViewport]="true"
    [fixedTopGap]="170"
    class="object-menu"
  >
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="objRoute.src"
        *ngFor="let objRoute of objectsRoute"
        [routerLinkActive]="['is-active']"
      >
        {{ objRoute.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="object-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
