<div
  class="gas-monitoring-header"
  fxLayout="row"
  fxLayoutAlign="space-between end"
>
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="openGasMonitoringForm()"
  >
    {{ "CREATE" | translate }}
  </button>
  <h2>{{ "GAS_MONITORING.POLYGON_NAME.TITLE" | translate }}</h2>
</div>

<div class="angular-slickgrid"  >
  <angular-slickgrid
    gridId="polygon-naming"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onSelectedRowsChanged)="
      onSelectedRowsChanged(
        $any($event).detail.eventData,
        $any($event).detail.args
      )
    "
    (onAngularGridCreated)="angularGridReady($any($event).detail)"
  >
  </angular-slickgrid>
</div>

<app-gas-monitoring-points [gasMonitoringId]="gasMonitoringId">
</app-gas-monitoring-points>
