<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <h2 matDialogTitle>{{ "WASTE_PLACE.TITLE" | translate }}</h2>
    <span mat-dialog-close> <mat-icon class="mat-18">close</mat-icon></span>
  </div>

  <mat-dialog-content>
    <mat-form-field>
      <mat-label> {{ "WASTE_PLACE.FORM.NAME_OBJECT" | translate }}</mat-label>
      <input type="text" matInput formControlName="nameObject" />
      <mat-error>
        {{ "ERROR" | translate }}
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <mat-form-field>
        <mat-label> {{ "WASTE_PLACE.FORM.AREA_NAME" | translate }}</mat-label>
        <input type="text" matInput formControlName="area" />
        <mat-error>
          {{ "ERROR" | translate }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="btn-add"
        (click)="addArea()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!-- table -->
    <mat-table #table [dataSource]="areaList" multiTemplateDataRows>
      <!-- areaId -->
      <ng-container matColumnDef="areaId">
        <mat-header-cell *matHeaderCellDef>N</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.areaId }}</mat-cell>
      </ng-container>

      <!-- area -->
      <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef>
          {{ "WASTE_PLACE.FORM.AREAS" | translate }}</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.area }}</mat-cell>
      </ng-container>

      <!-- delete -->
      <ng-container matColumnDef="deleteBtn">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button
            mat-icon-button
            color="warn"
            type="button"
            (click)="deleteArea(i, areaList)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- action -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            *ngIf="expandedElement != element"
            [class.expanded]="expandedElement == element"
            (click)="expandedElement = element"
          >
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="expandedElement == element"
            [class.expanded]="expandedElement == undefined"
            (click)="expandedElement = undefined"
          >
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- nested table -->
      <ng-container matColumnDef="expandedDetail">
        <mat-cell
          *matCellDef="let detail"
          fxLayout="column"
          fxLayoutAlign="space-between space-between"
        >
          <!-- add coords input -->
          <div
            class="coords__inputs"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="space-between center"
          >
            <mat-form-field>
              <mat-label>X</mat-label>
              <input matInput type="number" formControlName="lat" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Y</mat-label>
              <input matInput type="number" formControlName="lng" />
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              type="button"
              class="btn-add"
              (click)="addCoord(detail); coordsTable.renderRows()"
            >
              <mat-icon> {{ isEditCoord ? "save" : "add" }} </mat-icon>
            </button>
          </div>

          <mat-table [dataSource]="detail.coords" #coordsTable>
            <!-- lat -->
            <ng-container matColumnDef="lat">
              <mat-header-cell *matHeaderCellDef> X </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row[0] }} </mat-cell>
            </ng-container>

            <!-- lng -->
            <ng-container matColumnDef="lng">
              <mat-header-cell *matHeaderCellDef> Y </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row[1] }} </mat-cell>
            </ng-container>

            <!-- edit -->
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index">
                <button
                  matRipple
                  mat-icon-button
                  color="accent"
                  type="button"
                  (click)="
                    editCoord(i, detail.coords); coordsTable.renderRows()
                  "
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- deletBtn -->

            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index">
                <button
                  mat-icon-button
                  color="warn"
                  type="button"
                  (click)="
                    deleteCoord(i, detail.coords); coordsTable.renderRows()
                  "
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="['lat', 'lng', 'edit', 'delete']"
            ></mat-header-row>
            <mat-row
              matRipple
              *matRowDef="let row; columns: ['lat', 'lng', 'edit', 'delete']"
            ></mat-row>
          </mat-table>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        matRipple
      ></mat-row>

      <mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
        style="overflow: hidden"
      ></mat-row>
    </mat-table>
  </mat-dialog-content>

  <mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end center"
    *ngIf="!viewMode"
  >
    <button mat-raised-button type="button" color="warn" matDialogClose>
      {{ "CANCEL" | translate }}
    </button>
    <button mat-raised-button type="submit" color="primary">
      {{ "SAVE" | translate }}
    </button>
  </mat-dialog-actions>
</form>
