<div fxLayout="row" fxLayoutAlign="space-between end">
  <button mat-raised-button color="primary" (click)="openBurialPlaceDialog()">
    <mat-icon class="mat-18">add</mat-icon> {{ "CREATE" | translate }}
  </button>
  <h2>{{ "BURIAL_PLACE.TITLE" | translate }}</h2>
</div>

<div class="angular-slickgrid">
  <angular-slickgrid
    gridId="burial-place"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onAngularGridCreated)="angularGridReady($any($event).detail)"
  >
  </angular-slickgrid>
</div>
