<div class="object-list">
  <div class="object-header" fxLayout="row" fxLayoutAlign="space-between end">
    <button mat-raised-button color="primary" (click)="openObjectDialog()">
      <mat-icon class="mat-18">add</mat-icon> {{ "CREATE" | translate }}
    </button>
    <h3>{{ "OBJECTS.TITLE" | translate }}</h3>
  </div>

  <angular-slickgrid
    gridId="object-list"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onClick)="
      onCellClicked($any($event).detail.eventData, $any($event).detail.args)
    "
    (onAngularGridCreated)="angularGridReady($any($event).detail)"
  >
  </angular-slickgrid>
</div>
