<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <h2 matDialogTitle>{{ "WASTE_PLACE.TITLE" | translate }}</h2>
    <span mat-dialog-close>
      <mat-icon class="mat-18">close</mat-icon>
    </span>
  </div>

  <mat-dialog-content>
    <mat-form-field>
      <mat-label> {{ "WASTE_PLACE.FORM.NAME_OBJECT" | translate }}</mat-label>
      <input type="text" matInput formControlName="nameObject" />
      <mat-error> {{ "ERROR" | translate }} </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="!viewMode">
    <button mat-raised-button type="button" color="warn" matDialogClose>
      {{ "CANCEL" | translate }}
    </button>
    <button mat-raised-button type="submit" color="primary">
      {{ "SAVE" | translate }}
    </button>
  </mat-dialog-actions>
</form>
