<div
  class="gas-monitoring-points-header"
  fxLayout="row"
  fxLayoutAlign="space-between end"
>
  <button mat-raised-button color="primary" (click)="openPointsDialog()">
    {{ "CREATE" | translate }}
  </button>
  <h2>{{ "GAS_MONITORING.CONTROL_POINT.TITLE" | translate }}</h2>
</div>

<div class="angular-slickgrid" id="demo-container">
  <angular-slickgrid
    gridId="gas-monitoring-points"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onAngularGridCreated)="angularGridReady($any($event).detail)"
  >
  </angular-slickgrid>
</div>
