<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <h2 matDialogTitle> {{ 'GAS_MONITORING.CONTROL_POINT.TITLE' | translate }}</h2>
    <span mat-dialog-close> <mat-icon class="mat-18">close</mat-icon></span>
  </div>

  <mat-dialog-content>
    <mat-form-field>
      <mat-label>
        {{ "GAS_MONITORING.CONTROL_POINT.FORM.POINT_NUMBER" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="pointNumber" />
      <mat-error>{{ "ERROR" | translate }} </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label
        >{{ "GAS_MONITORING.CONTROL_POINT.FORM.OBSERVABLE_PARAM" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="observableParam" />
      <mat-error>{{ "ERROR" | translate }} </mat-error>
    </mat-form-field>

    <div
      class="measurement"
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutGap="10px"
    >
      <mat-form-field>
        <mat-label>
          {{
            "GAS_MONITORING.CONTROL_POINT.FORM.MEASUREMENT_VALUE" | translate
          }}</mat-label
        >
        <input type="number" matInput formControlName="measurementValue" />
        <mat-error>
          {{ "ERROR" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="dicFreqMeasurementId">
          <mat-option
            *ngFor="let dicFreqMeasurement of dicFreqMeasurements"
            [value]="dicFreqMeasurement.id"
            >{{ dicFreqMeasurement.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <label>
        {{ "GAS_MONITORING.CONTROL_POINT.FORM.COORDS" | translate }}
      </label>
      <div
        class="coords"
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="10px"
      >
        <mat-form-field>
          <mat-label> E </mat-label>
          <input type="number" matInput formControlName="lat" />
        </mat-form-field>

        <mat-form-field>
          <mat-label> N </mat-label>
          <input type="number" matInput formControlName="lng" />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end center"
    *ngIf="!viewMode"
  >
    <button mat-raised-button color="warn" matDialogClose>
      {{ "CANCEL" | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ "SAVE" | translate }}
    </button>
  </mat-dialog-actions>
</form>
